#board {
    width: 354px;
    height: 354px;
    margin: 0 auto;
}

.cell {
    float: left;
    width: 100px;
    height: 100px;
    
    margin: 3px;
    border: 4px solid #009275;
    border-radius: 5px;
    outline: 1px solid black;
    outline-offset: -2px;
    outline-radius: 5px;
    
    background-color: #008080;
    
    font-family: monoton;
    line-height: 100px;
    color: white;
    font-size: 65px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black;
}

#victory {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Lemon', cursive;
    color: #005746;
    font-size: 25px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black;
}

#play-again {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 105px;
    border: 4px solid #005746;
    background-color: #dcdcdc;
}

.play-again {
    border: none;
    color: white;
    padding: 10px;
    background-color:#008080;
    text-shadow: 0.1em 0.1em 0.1em black;
}

.play-again:hover {
    background-color:#009275;
}

.play-again:active {
    background-color:#005746;
}

.right-col {
    border-left: 10px solid #005746;
}

.left-col {
    border-right: 10px solid #005746;
}

.top-row {
    border-bottom: 10px solid #005746;
}

.bottom-row {
    border-top: 10px solid #005746;
}
