<div id="tic-tac-toe">tic tac toe</div>
<div id="board">
  <div id="victory"></div>
</div> 
<div id="play-again">
  <form action="/refresh" method="GET">
    <input class="play-again" type="submit" value="Play again?">
  </form>
</div>

<script>
  var currentPlayer = "<%= Cell.get_current_player %>"
  var allMoves = <%= Hash[Cell.all.map { |cell| [cell.coordinate, cell.player] }].to_json %>
</script>
